In [1]:
import warnings
import pandas as pd
from datetime import datetime
from datetime import date
import sqlalchemy as sql
from pathlib import Path
warnings.filterwarnings('ignore')  # Hide warnings
#Library - Project3 
import CryptoDownloadData as coinData
import CryptoPerfSummary as coinAnalytic

#DataBase Tables
# Database connection string
crypto_data_connection_string = 'sqlite:///./Reference/crypto.db'
# Database engine
crypto_data_engine = sql.create_engine(crypto_data_connection_string, echo=True)
'COINBASE_100' #CoinList - symbols
'ETF_LIST' #Sample ETF
'CRYPTO_PX_HISTORY' #Crypto PX History

# If need to repopulate database sqllite, please set refresh = True
refresh = True

In [ ]:
# Download all price history for Coin List 100 into CRYPTO_PX_HISTORY
# If need to rerun, please change refresh = True
if refresh == True:
    file_path = Path('./Reference/sampleETF.csv')
    coinData.create_index_from_csv(file_path, 'ETF_LIST')
    file_path = Path('./Reference/Coinbase100.csv')
    coinData.create_index_from_csv(file_path, 'COINBASE_100')
    coinData.drop_table('CRYPTO_PX_HISTORY')
    start_date = datetime(2015, 1, 1)
    end_date = datetime.today()
    coinData.download_px_data_from_COINBASE_100(start_date, end_date)

In [3]:
# Pull Price by Name        
px_history_df = coinData.get_px_history('DPI')
display(px_history_df.head())
display(px_history_df.tail())

,symbol,open,high,low,close,adjClose,volume
date,,,,,,,
2020-09-15,DPI,131.573639,159.588531,113.194153,116.578728,116.578728,1764750
2020-09-16,DPI,116.531761,126.596786,106.429352,113.653969,113.653969,841446
2020-09-17,DPI,113.653969,119.637497,101.146355,111.051498,111.051498,137977
2020-09-18,DPI,110.891113,133.522034,98.831749,110.122536,110.122536,231525
2020-09-19,DPI,110.122536,117.210724,98.543861,107.092079,107.092079,255475

,symbol,open,high,low,close,adjClose,volume
date,,,,,,,
2022-02-23,DPI,150.600906,158.028549,148.886368,150.068649,150.068649,489119
2022-02-24,DPI,150.068588,150.464111,129.505417,145.327621,145.327621,806302
2022-02-25,DPI,145.327576,163.577927,145.205429,158.764236,158.764236,398109
2022-02-26,DPI,158.764297,163.114594,155.804016,155.804047,155.804047,263836
2022-02-28,DPI,152.465424,155.057373,151.648422,154.420212,154.420212,337232

In [4]:
t_date = datetime(2022, 2, 26)
a = coinData.get_market_datas_by_period(t_date)
a

   period        date
0      D0  2022-02-28
1      D1  2022-02-26
5      W1  2022-02-19
2      M1  2022-01-26
6  Y0_YTD  2022-01-01
3      M3  2021-11-26
4      M6  2021-08-26
7      Y1  2021-02-26
8      Y2  2020-02-26
9      Y3  2019-02-26

In [5]:
return_matrix = coinData.get_base_pxchanges_matrix()
display(return_matrix)

,A/O Date,Name,Cur_PX,1_Day,1_Week,1_Month,3_Months,YTD,1_Year,2_Years,3_Years,Start_Date,Since_Intercept,Start_PX,Return
symbol,,,,,,,,,,,,,,,
1INCH,2022-02-28,1INCH,1.383683,0.0,-7.026817,-12.840747,-62.74518,-45.314151,-66.772566,--,--,2021-01-01,-66.772566,4.164278,-56.914659
AAVE,2022-02-28,AAVE,132.211639,0.0,-3.911084,-8.476309,-43.281445,-50.202744,-60.458825,--,--,2021-01-01,-60.458825,334.364471,-64.50944
ADA,2022-02-28,ADA,0.862775,0.0,-7.517063,-17.321716,-44.197329,-37.342718,-34.878013,1636.490134,1893.933812,2021-01-01,-34.878013,1.32486,-70.695739
ALGO,2022-02-28,ALGO,0.801575,0.0,--,--,-52.230704,--,-27.038588,114.024878,--,2021-01-01,-27.038588,1.098628,-24.742346
ALICE,2022-02-28,ALICE,6.778378,0.0,-4.473583,2.461897,-64.853621,-49.238312,--,--,--,2021-01-01,--,--,-66.324989
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,2022-02-28,XTZ,3.111782,0.0,-4.954058,6.902837,-32.732271,-34.357052,-14.450534,11.241277,655.532684,2021-01-01,-14.450534,3.637407,-40.429662
XYM,2022-02-28,XYM,0.142403,0.0,-7.310448,-11.619213,-61.790894,-36.286015,--,--,--,2021-01-01,--,--,-1.711275
YFI,2022-02-28,YFI,19499.925781,0.0,-5.924765,-18.373731,-33.257994,-46.451262,-37.989582,--,--,2021-01-01,-37.989582,31446.208984,-48.388686
YGG,2022-02-28,YGG,3.14628,0.0,19.189491,15.050095,-56.226631,-43.618144,--,--,--,2021-01-01,--,--,-69.481377
ZEC,2022-02-28,ZEC,101.862877,0.0,-5.820632,14.755846,-58.230437,-32.069392,-14.901336,93.862761,94.673166,2021-01-01,-14.901336,119.699738,-33.050155

In [6]:
sql_query = """
SELECT max(date) date FROM CRYPTO_PX_HISTORY order by date desc"""
t_date_str= pd.read_sql_query(sql_query, crypto_data_connection_string)
t_date_str.iat[0,0]
#print(type(t_date))
t_date = datetime.strptime(t_date_str.iat[0,0], '%Y-%m-%d').date()
date_list = coinData.get_market_datas_by_period(t_date)
x_start_date = datetime(2021, 1, 1)
x_end_date = datetime(2021, 6, 1)
y_end_date = t_date 
daily_xy_horizon_return_matrix = coinAnalytic.get_xy_daily_return_matrix(t_date, x_start_date, x_end_date, y_end_date)
display(daily_xy_horizon_return_matrix)

return_matrix = pd.DataFrame()
return_matrix['A/O Date'] = daily_xy_horizon_return_matrix['Y_End Date']
return_matrix['Cur PX'] = daily_xy_horizon_return_matrix['D0']
return_matrix['1 Day'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['D1'])/daily_xy_horizon_return_matrix['D1']
return_matrix['1 Week'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['W1'])/daily_xy_horizon_return_matrix['W1']
return_matrix['1 Month'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['M1'])/daily_xy_horizon_return_matrix['M1']
return_matrix['3 months'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['M3'])/daily_xy_horizon_return_matrix['M3']
return_matrix['YTD'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y0_YTD'])/daily_xy_horizon_return_matrix['Y0_YTD']
return_matrix['1 Year'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y1'])/daily_xy_horizon_return_matrix['Y1']
return_matrix['2 Years'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y2'])/daily_xy_horizon_return_matrix['Y2']
return_matrix['3 Years'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Y3'])/daily_xy_horizon_return_matrix['Y3']
return_matrix['Start Date'] = daily_xy_horizon_return_matrix['Start Date']
return_matrix['Since Intercept'] = (daily_xy_horizon_return_matrix['D0']-daily_xy_horizon_return_matrix['Start Cost'])/daily_xy_horizon_return_matrix['Start Cost']
return_matrix['Start PX'] = daily_xy_horizon_return_matrix['Start Cost']
return_matrix['Return'] = daily_xy_horizon_return_matrix['XY_Return']
return_matrix

#px_change_matrix = daily_xy_horizon_return_matrix['symbol']
#px_change_matrix 
#row_data = daily_xy_horizon_return_matrix.loc[ 'BTC' , : ]
#display(pd.DataFrame(row_data))

period,D0,D1,M1,M3,M6,W1,Y0_YTD,Y1,Y2,Y3,Start Date,Start Cost,X_End Date,X_End Close,X_Return,Y_End Date,Y_End Close,Y_Return,XY_Return
symbol,,,,,,,,,,,,,,,,,,,
1INCH,1.383683,1.383683,1.587534,3.714104,3.211493,1.488260,2.530239,4.164278,NaN,NaN,2021-01-01,4.164278,2021-06-01,3.211493,-0.228800,2022-02-28,1.383683,-0.667726,-0.569147
AAVE,132.211639,132.211639,144.456192,233.101212,372.526215,137.593018,265.499847,334.364471,NaN,NaN,2021-01-01,334.364471,2021-06-01,372.526215,0.114132,2022-02-28,132.211639,-0.604588,-0.645094
ADA,0.862775,0.862775,1.043533,1.546118,2.944197,0.932902,1.376975,1.324860,0.049685,0.043270,2021-01-01,1.324860,2021-06-01,2.944197,1.222270,2022-02-28,0.862775,-0.348780,-0.706957
ALGO,0.801575,0.801575,NaN,1.678012,1.065107,NaN,NaN,1.098628,0.374524,NaN,2021-01-01,1.098628,2021-06-01,1.065107,-0.030512,2022-02-28,0.801575,-0.270386,-0.247423
ALICE,6.778378,6.778378,6.615511,19.286135,20.128807,7.095815,13.353334,NaN,NaN,NaN,2021-01-01,NaN,2021-06-01,20.128807,NaN,2022-02-28,6.778378,NaN,-0.663250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,3.111782,3.111782,2.910851,4.625966,5.223711,3.273977,4.740467,3.637407,2.797327,0.411866,2021-01-01,3.637407,2021-06-01,5.223711,0.436108,2022-02-28,3.111782,-0.144505,-0.404297
XYM,0.142403,0.142403,0.161124,0.372693,0.144882,0.153634,0.223503,NaN,NaN,NaN,2021-01-01,NaN,2021-06-01,0.144882,NaN,2022-02-28,0.142403,NaN,-0.017113
YFI,19499.925781,19499.925781,23889.277344,29216.871094,37782.269531,20728.011719,36415.285156,31446.208984,NaN,NaN,2021-01-01,31446.208984,2021-06-01,37782.269531,0.201489,2022-02-28,19499.925781,-0.379896,-0.483887
YGG,3.146280,3.146280,2.734704,7.187657,10.309376,2.639729,5.580305,NaN,NaN,NaN,2021-01-01,NaN,2021-06-01,10.309376,NaN,2022-02-28,3.146280,NaN,-0.694814
ZEC,101.862877,101.862877,88.764870,243.868668,152.148041,108.158379,149.951370,119.699738,52.543808,52.325073,2021-01-01,119.699738,2021-06-01,152.148041,0.271081,2022-02-28,101.862877,-0.149013,-0.330502

,A/O Date,Cur PX,1 Day,1 Week,1 Month,3 months,YTD,1 Year,2 Years,3 Years,Start Date,Since Intercept,Start PX,Return
symbol,,,,,,,,,,,,,,
1INCH,2022-02-28,1.383683,0.0,-0.070268,-0.128407,-0.627452,-0.453142,-0.667726,NaN,NaN,2021-01-01,-0.667726,4.164278,-0.569147
AAVE,2022-02-28,132.211639,0.0,-0.039111,-0.084763,-0.432814,-0.502027,-0.604588,NaN,NaN,2021-01-01,-0.604588,334.364471,-0.645094
ADA,2022-02-28,0.862775,0.0,-0.075171,-0.173217,-0.441973,-0.373427,-0.348780,16.364901,18.939338,2021-01-01,-0.348780,1.324860,-0.706957
ALGO,2022-02-28,0.801575,0.0,NaN,NaN,-0.522307,NaN,-0.270386,1.140249,NaN,2021-01-01,-0.270386,1.098628,-0.247423
ALICE,2022-02-28,6.778378,0.0,-0.044736,0.024619,-0.648536,-0.492383,NaN,NaN,NaN,2021-01-01,NaN,NaN,-0.663250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,2022-02-28,3.111782,0.0,-0.049541,0.069028,-0.327323,-0.343571,-0.144505,0.112413,6.555327,2021-01-01,-0.144505,3.637407,-0.404297
XYM,2022-02-28,0.142403,0.0,-0.073104,-0.116192,-0.617909,-0.362860,NaN,NaN,NaN,2021-01-01,NaN,NaN,-0.017113
YFI,2022-02-28,19499.925781,0.0,-0.059248,-0.183737,-0.332580,-0.464513,-0.379896,NaN,NaN,2021-01-01,-0.379896,31446.208984,-0.483887
YGG,2022-02-28,3.146280,0.0,0.191895,0.150501,-0.562266,-0.436181,NaN,NaN,NaN,2021-01-01,NaN,NaN,-0.694814
ZEC,2022-02-28,101.862877,0.0,-0.058206,0.147558,-0.582304,-0.320694,-0.149013,0.938628,0.946732,2021-01-01,-0.149013,119.699738,-0.330502

In [7]:
# Get Price History Marix by Period - Sharpe and 30d roll beta, annual return
t_date = datetime(2022, 2, 21)
px_matrix = coinAnalytic.get_crypto_hist_martix_summary(t_date)
display(px_matrix.loc[px_matrix.index.isin(['BTC','ETH','DPI'])])

,D0,D1,M1,M3,M6,W1,Y0_YTD,Y1,Y2,Y3,...,X_End Close,X_Return,Y_End Date,Y_End Close,Y_Return,XY_Return,Annualized_std_dev,Average_annual_return,Sharpe_ratio,BTC_30d_roll_beta
symbol,,,,,,,,,,,,,,,,,,,,,
BTC,38042.878906,37075.281250,36457.316406,58730.476562,48905.492188,42586.917969,47686.812500,57539.945312,9686.441406,3954.118164,...,48905.492188,-0.150060,2022-02-21,38042.878906,-0.338844,-0.222114,0.620390,-0.238955,-0.385169,1.000000
DPI,154.420212,149.826675,188.506104,344.813995,412.997864,175.776901,291.656647,467.401093,NaN,NaN,...,412.997864,-0.116395,2022-02-21,154.420212,-0.669619,-0.626099,1.004111,-0.531283,-0.529108,1.174004
ETH,2649.612305,2573.816162,2557.931641,4269.732910,3226.083984,2933.479004,3769.697021,1935.601074,265.600616,146.130844,...,3226.083984,0.666709,2022-02-21,2649.612305,0.368883,-0.178691,0.836931,0.370313,0.442465,1.082231

In [15]:
#Get SMA, HIGH, LOW, RS RATING
t_date = datetime(2022, 2, 21)
px_strat = coinAnalytic.get_crypto_px_strat(t_date)
display(px_strat)

,CUR_PX,SMA_50,SMA_150,SMA_200,SMA_200_20,HIGH_52WK,LOW_52WK,RS_RATING
symbol,,,,,,,,
1INCH,1.367686,1.90,2.89,2.94,2.98,2.56,1.37,93.06
AAVE,128.978653,182.09,240.77,273.16,285.93,267.05,128.98,90.74
ADA,0.858236,1.15,1.59,1.79,1.81,1.59,0.86,57.41
AMP,0.025778,0.03,0.05,0.05,0.05,0.05,0.03,49.54
AR,23.921633,39.65,50.70,47.94,45.69,66.06,23.92,14.81
...,...,...,...,...,...,...,...,...
XMR,147.969238,177.81,220.26,233.74,238.56,250.21,144.48,70.83
XRP,0.703466,0.73,0.92,0.97,0.95,0.88,0.60,35.19
XTZ,2.975467,3.85,5.10,5.06,4.95,5.00,2.91,63.89
YFI,19735.214844,27311.33,29981.83,31543.38,32167.19,39119.18,19735.21,76.85
ZEC,100.369987,119.52,148.86,146.97,145.73,153.35,88.76,69.44

In [9]:
a = coinData.get_price_history_by_period(t_date)
display(a)

period,D0,D1,M1,M3,M6,W1,Y0_YTD,Y1,Y2,Y3
symbol,,,,,,,,,,
1INCH,1.383683,1.367686,1.836874,3.996805,3.362305,1.701108,2.530239,5.065528,NaN,NaN
AAVE,132.211639,128.978653,170.320496,267.098877,400.133881,161.034546,265.499847,435.853760,NaN,NaN
ADA,0.862775,0.858236,1.123233,1.839763,2.435435,1.050267,1.376975,1.100520,0.058640,0.044969
ALGO,0.801575,NaN,NaN,1.833936,1.147098,NaN,NaN,1.308164,0.419883,NaN
ALICE,6.778378,6.443939,7.934711,18.322947,17.069691,7.409108,13.353334,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
XTZ,3.111782,2.975467,3.331553,5.244574,3.684285,3.945281,4.740467,4.673418,3.485224,0.438406
XYM,0.142403,0.148263,0.164707,0.390527,0.154211,0.174542,0.223503,NaN,NaN,NaN
YFI,19499.925781,19735.214844,25678.226562,31639.822266,38798.500000,23122.326172,36415.285156,43089.847656,NaN,NaN
YGG,3.146280,2.512688,3.001495,8.392535,7.721130,3.083128,5.580305,NaN,NaN,NaN
ZEC,101.862877,100.369987,102.061218,229.930710,155.749863,120.716187,149.951370,162.640976,61.744324,53.649208

In [26]:
t_date = datetime(2022, 2, 28)
x_start_date = datetime(2021, 7, 14)
x_end_date = datetime(2021, 7, 15)
y_end_date = datetime(2022, 2, 28)
daily_xy_horizon_return_matrix = coinAnalytic.get_xy_daily_return_matrix(t_date, x_start_date, x_end_date, y_end_date)
daily_price_matrix = coinAnalytic.get_price_matrix(daily_xy_horizon_return_matrix, x_start_date, y_end_date)
daily_return_matrix = coinAnalytic.get_daily_return_matrix(daily_price_matrix)
cumulative_returns_matrix =  coinAnalytic.get_cumulative_return_matrix(daily_price_matrix)
portfolio = daily_price_matrix[['WBTC','WETH','DPI']]

In [27]:
return_stocks = portfolio.pct_change()
return_stocks.head(10)

symbol          WBTC      WETH       DPI
date
2021-07-15       NaN       NaN       NaN
2021-07-16 -0.005235 -0.016225 -0.047744
2021-07-17  0.002734  0.008790  0.002570
2021-07-18  0.006098  0.002208  0.011152
2021-07-19 -0.029412 -0.042697 -0.067222
2021-07-20 -0.036391 -0.019220 -0.067476
2021-07-21  0.080300  0.111750  0.135119
2021-07-22  0.007460  0.017279  0.057358
2021-07-23  0.038270  0.047506  0.039399
2021-07-24  0.020384  0.028437 -0.004197

In [28]:
import numpy as np
initial_weight = np.array([0.3596,0.3428,0.2975])

In [29]:
daily_returns_portfolio_mean = return_stocks.mean()
print(daily_returns_portfolio_mean)

symbol
WBTC    0.001376
WETH    0.002294
DPI    -0.001249
dtype: float64

In [30]:
allocated_daily_returns = (initial_weight * daily_returns_portfolio_mean)

portfolio_return = np.sum(allocated_daily_returns)
print(portfolio_return)

0.0009095572960488001

In [31]:
# calculate portfolio daily returns
return_stocks['portfolio_daily_returns'] = return_stocks.dot(initial_weight)
return_stocks

symbol          WBTC      WETH       DPI  portfolio_daily_returns
date
2021-07-15       NaN       NaN       NaN                      NaN
2021-07-16 -0.005235 -0.016225 -0.047744                -0.021648
2021-07-17  0.002734  0.008790  0.002570                 0.004761
2021-07-18  0.006098  0.002208  0.011152                 0.006267
2021-07-19 -0.029412 -0.042697 -0.067222                -0.045212
...              ...       ...       ...                      ...
2022-02-23 -0.025371 -0.020416 -0.003535                -0.017174
2022-02-24  0.027248  0.001536 -0.031592                 0.000926
2022-02-25  0.025266  0.063816  0.092457                 0.058468
2022-02-26 -0.004462  0.005449 -0.018645                -0.005284
2022-02-28 -0.026310 -0.044510 -0.008882                -0.027362

[228 rows x 4 columns]

In [32]:
Cumulative_returns_daily = (1+return_stocks).cumprod()
Cumulative_returns_daily.tail(5)

symbol          WBTC      WETH       DPI  portfolio_daily_returns
date
2022-02-23  1.177266  1.352716  0.548011                 1.012594
2022-02-24  1.209343  1.354794  0.530698                 1.013532
2022-02-25  1.239899  1.441252  0.579765                 1.072791
2022-02-26  1.234366  1.449106  0.568955                 1.067123
2022-02-28  1.201889  1.384606  0.563902                 1.037924

In [25]:
display(daily_return_matrix[['BTC','ETH','DPI']])

symbol           BTC       ETH       DPI
date
2021-07-16 -0.011302 -0.016112 -0.047744
2021-07-17  0.003549  0.009808  0.002570
2021-07-18  0.008364 -0.001724  0.011152
2021-07-19 -0.030789 -0.041284 -0.067222
2021-07-20 -0.032789 -0.016390 -0.067476
...              ...       ...       ...
2022-02-23 -0.025844 -0.018543 -0.003535
2022-02-24  0.027778  0.002975 -0.031592
2022-02-25  0.022999  0.064074  0.092457
2022-02-26 -0.002781  0.005996 -0.018645
2022-02-28 -0.027164 -0.047283 -0.008882

[227 rows x 3 columns]

In [34]:
daily_xy_horizon_return_matrix

period,D0,D1,M1,M3,M6,W1,Y0_YTD,Y1,Y2,Y3,Start Date,Start Cost,X_End Date,X_End Close,X_Return,Y_End Date,Y_End Close,Y_Return,XY_Return
symbol,,,,,,,,,,,,,,,,,,,
1INCH,1.383683,1.383683,1.649218,3.654860,3.284216,1.367686,2.530239,3.829321,NaN,NaN,2021-07-14,3.829321,2021-07-15,3.284216,-0.142350,2022-02-28,1.383683,-0.638661,-0.578687
AAVE,132.211639,132.211639,149.136612,238.847565,366.968292,128.978653,265.499847,344.869995,NaN,NaN,2021-07-14,344.869995,2021-07-15,366.968292,0.064077,2022-02-28,132.211639,-0.616633,-0.639719
ADA,0.862775,0.862775,1.050606,1.592855,2.847490,0.858236,1.376975,1.308059,0.048616,0.043123,2021-07-14,1.308059,2021-07-15,2.847490,1.176882,2022-02-28,0.862775,-0.340416,-0.697005
ALGO,0.801575,0.801575,NaN,1.711715,1.036796,NaN,NaN,1.017224,0.348359,NaN,2021-07-14,1.017224,2021-07-15,1.036796,0.019241,2022-02-28,0.801575,-0.211998,-0.226873
ALICE,6.778378,6.778378,6.821957,21.176825,21.212687,6.443939,13.353334,NaN,NaN,NaN,2021-07-14,NaN,2021-07-15,21.212687,NaN,2022-02-28,6.778378,NaN,-0.680456
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XTZ,3.111782,3.111782,3.026571,4.651910,5.625830,2.975467,4.740467,3.413330,2.763425,0.410030,2021-07-14,3.413330,2021-07-15,5.625830,0.648194,2022-02-28,3.111782,-0.088344,-0.446876
XYM,0.142403,0.142403,0.175758,0.356398,0.141971,0.148263,0.223503,NaN,NaN,NaN,2021-07-14,NaN,2021-07-15,0.141971,NaN,2022-02-28,0.142403,NaN,0.003040
YFI,19499.925781,19499.925781,23490.976562,29966.175781,38069.328125,19735.214844,36415.285156,30695.310547,NaN,NaN,2021-07-14,30695.310547,2021-07-15,38069.328125,0.240233,2022-02-28,19499.925781,-0.364726,-0.487779
YGG,3.146280,3.146280,2.954809,7.769925,9.725029,2.512688,5.580305,NaN,NaN,NaN,2021-07-14,NaN,2021-07-15,9.725029,NaN,2022-02-28,3.146280,NaN,-0.676476
ZEC,101.862877,101.862877,91.409630,241.405975,150.485977,100.369987,149.951370,109.712105,50.631660,51.827469,2021-07-14,109.712105,2021-07-15,150.485977,0.371644,2022-02-28,101.862877,-0.071544,-0.323107

In [38]:
sql_query = """
SELECT symbol, min(date), max(date) from CRYPTO_PX_HISTORY group by symbol"""
data_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
data_list.to_csv("c:\\temp\\data_list.csv")

In [37]:
#Our 3 ETF Sample - 
#file_path = Path('./Reference/sampleETF.csv')
#coinData.create_index_from_csv(file_path, 'ETF_LIST')
#coinData.create_sampleETF
sql_query = """
SELECT * FROM ETF_LIST"""
etf_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
etf_summary = etf_list.merge(data_list, left_on='symbol', right_on='symbol').groupby(['ETF','symbol']).mean().sort_values(by=['ETF','rank'])
etf_summary

                 rank    weight
ETF      symbol
Farmdex  CAKE       0  0.142200
         AAVE       1  0.029716
         CRV        2  0.189526
         RLY        3  0.004941
         SNX        4  0.056224
         SUSHI      5  0.101659
         RGT        6  0.284625
         REEF       7  0.191110
Metadex  MANA       0  0.004168
         SAND       1  0.053283
         AXS        2  0.109419
         THETA      3  0.009639
         ENJ        4  0.018749
         WEMIX      5  0.102786
         WAXP       6  0.149440
         RNDR       7  0.020939
         SUSHI      8  0.168500
         ONT        9  0.046232
         UOS       10  0.008536
         PLA       11  0.203614
         CEEK      12  0.043591
         CHR       13  0.061105
Ventidex BTC        0  0.215064
         ETH        1  0.045059
         BNB        2  0.263171
         USDC       3  0.054484
         XRP        4  0.002111
         ADA        5  0.147052
         SOL        6  0.183242
         LUNA       7  0.012564
         AVAX       8  0.077253

In [ ]:
#3 Portfolios - Return analysis 
perf_summary = etf_list.merge(px_matrix, left_on='symbol', right_on='symbol').groupby(['ETF','symbol']).mean().sort_values(by=['ETF','rank'])
perf_summary

In [ ]:
file_path = Path('./Reference/sampleETF.csv')
coinData.create_index_from_csv(file_path, 'ETF_LIST')
coinData.create_sampleETF

In [ ]:
file_path = Path('./Reference/sampleETF.csv')
coinData.create_index_from_csv(file_path, 'ETF_LIST')
file_path = Path('./Reference/Coinbase100.csv')
coinData.create_index_from_csv(file_path, 'COINBASE_100')

In [46]:
#url = "https://www.ag-grid.com/example-assets/master-detail-data.json"
#df = pd.read_json(url)
#df

data = coinData.get_crypto_px_yf("DPI")
display(data)

[*********************100%***********************]  1 of 1 completed

,symbol,open,high,low,close,adjClose,volume,date
2020-09-15,DPI,131.573639,159.588531,113.194153,116.578728,116.578728,1764750,2020-09-15
2020-09-16,DPI,116.531761,126.596786,106.429352,113.653969,113.653969,841446,2020-09-16
2020-09-17,DPI,113.653969,119.637497,101.146355,111.051498,111.051498,137977,2020-09-17
2020-09-18,DPI,110.891113,133.522034,98.831749,110.122536,110.122536,231525,2020-09-18
2020-09-19,DPI,110.122536,117.210724,98.543861,107.092079,107.092079,255475,2020-09-19
...,...,...,...,...,...,...,...,...
2022-02-24,DPI,150.068588,150.464111,129.505417,145.327621,145.327621,806302,2022-02-24
2022-02-25,DPI,145.327576,163.577927,145.205429,158.764236,158.764236,398109,2022-02-25
2022-02-26,DPI,158.764297,163.114594,155.804016,155.804047,155.804047,263836,2022-02-26
2022-02-27,DPI,155.803726,161.939774,150.741425,152.611359,152.611359,348617,2022-02-27
2022-02-28,DPI,152.465424,155.057373,151.648422,152.525497,152.525497,319269,2022-02-28

In [143]:
from datetime import datetime
from dateutil.relativedelta import relativedelta
import EfficientFrontierCalculator as ef
# Database connection string
crypto_data_connection_string = 'sqlite:///./Reference/crypto.db'
# Database engine
crypto_data_engine = sql.create_engine(crypto_data_connection_string, echo=True)
#display(etf_list)
t_date = datetime(2021, 7, 15)
start_date = t_date + relativedelta(days=-500)
end_date = datetime(2021, 7, 16)
ETF = 'Ventidex'
#end_date = datetime.today()
symbol_list = pd.DataFrame(etf_list['symbol'].loc[etf_list['ETF']=='Ventidex'])
daily_price_matrix = coinAnalytic.get_price_matrix(symbol_list, start_date, end_date)
daily_price_matrix.index = pd.to_datetime(daily_price_matrix.index)
daily_price_dates = daily_price_matrix.loc[daily_price_matrix.index>=t_date]

weight_df = pd.DataFrame(columns=['date','ETF','weights'])

for date in daily_price_dates.index:
    display(date)
    price = daily_price_matrix.loc[daily_price_matrix.index<=date].tail(365)
    weights = ef.calculate_efficient_frontier(price)
    display(weights)
    #weight_df = weight_df.append([date, weights])
    weight_df = weight_df.append(pd.DataFrame({'date':date, 'ETF': ETF, 'weights':[weights]}))

weight_df.set_index('date', inplace=True)
display(weight_df)
weight_df.to_sql('CRYPTO_ETF_WEIGHTS', crypto_data_engine, index=True, if_exists='append')

sql_query = """
SELECT * from CRYPTO_ETF_WEIGHTS"""
data_list= pd.read_sql_query(sql_query, crypto_data_connection_string)
display(data_list)

#for date in daily_price_dates
#display(daily_price.tail(365))
#print(daily_price_matrix[daily_price_matrix.index>t_date].head(1))
#display(daily_price_matrix.offset.day(-365))
#i = 1
#display(daily_price_matrix.loc[daily_price_matrix.index<=t_date].tail(365-i))
#display(daily_price_matrix.loc[daily_price_matrix.index>t_date].head(i))\



#for i in range(2):
#    a = (daily_price_matrix.loc[daily_price_matrix.index<=t_date].tail(365-i)).append((daily_price_matrix.loc[daily_price_matrix.index>t_date].head(i)), ignore_index=True)
#    import EfficientFrontierCalculator as ef
#    meta_weights = ef.calculate_efficient_frontier(a)
#    print(meta_weights)

a

Timestamp('2021-07-15 00:00:00')

array([0.24946994, 0.23687422, 0.00598633, 0.11129871, 0.1796851 ,
       0.18979169, 0.02689402])

Timestamp('2021-07-16 00:00:00')

array([0.21867841, 0.22835667, 0.02967555, 0.14950755, 0.16522142,
       0.20228362, 0.00627679])

                 ETF                                            weights
date
2021-07-15  Ventidex  [0.24946993723317754, 0.23687422056174465, 0.0...
2021-07-16  Ventidex  [0.21867841225839668, 0.22835666590294026, 0.0...

2022-02-28 01:09:16,227 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("CRYPTO_ETF_WEIGHTS")
2022-02-28 01:09:16,242 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-28 01:09:16,245 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("CRYPTO_ETF_WEIGHTS")
2022-02-28 01:09:16,245 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-02-28 01:09:16,253 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-28 01:09:16,260 INFO sqlalchemy.engine.Engine
CREATE TABLE "CRYPTO_ETF_WEIGHTS" (
	date DATETIME,
	"ETF" TEXT,
	weights TEXT
)


2022-02-28 01:09:16,260 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2022-02-28 01:09:16,271 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_CRYPTO_ETF_WEIGHTS_date" ON "CRYPTO_ETF_WEIGHTS" (date)
2022-02-28 01:09:16,271 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2022-02-28 01:09:16,281 INFO sqlalchemy.engine.Engine COMMIT
2022-02-28 01:09:16,290 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-02-28 01:09:16,301 INFO sqlalchemy.engine.Engine INSERT INTO "CRYPTO_ETF_WEIGHTS" (date, "ETF", weights) VALUES (?, ?, ?)
2022-02-28 01:09:16,302 INFO sqlalchemy.engine.Engine [generated in 0.00385s] (('2021-07-15 00:00:00.000000', 'Ventidex', array([0.24946994, 0.23687422, 0.00598633, 0.11129871, 0.1796851 ,
       0.18979169, 0.02689402])), ('2021-07-16 00:00:00.000000', 'Ventidex', array([0.21867841, 0.22835667, 0.02967555, 0.14950755, 0.16522142,
       0.20228362, 0.00627679])))
2022-02-28 01:09:16,309 INFO sqlalchemy.engine.Engine COMMIT
2022-02-28 01:09:16,317 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-02-28 01:09:16,318 INFO sqlalchemy.engine.Engine [raw sql] ()

,date,ETF,weights
0,2021-07-15 00:00:00.000000,Ventidex,b'\xbb6\xe0\x82\xa1\xee\xcf?\xef\x01J\xfb\xe4Q...
1,2021-07-16 00:00:00.000000,Ventidex,b'\xb8\xd9~z\xa7\xfd\xcb?\x958\xf0\x8d\xca:\xc...

In [45]:
index_coins =  ['BTC', 'ETH', 'BNB', 'USDC', 'XRP', 'ADA', 'SOL', 'LUNA', 'AVAX']
index_prices = pd.DataFrame()
    
for i in index_coins:
    prices_df = coinData.get_px_history(i)
    prices_df[dprices_df.index)
    prices_list = prices_df['date'].values.tolist()
    index_prices.insert(0, i, prices_list[0:365], True)

index_prices

,AVAX,LUNA,SOL,ADA,XRP,USDC,BNB,ETH,BTC
0,2020-07-13,2017-11-09,2020-04-10,2017-11-09,2017-11-09,2018-10-08,2017-11-09,2017-11-09,2015-01-01
1,2020-07-14,2017-11-10,2020-04-11,2017-11-10,2017-11-10,2018-10-09,2017-11-10,2017-11-10,2015-01-02
2,2020-09-22,2017-11-11,2020-04-12,2017-11-11,2017-11-11,2018-10-10,2017-11-11,2017-11-11,2015-01-03
3,2020-09-23,2017-11-12,2020-04-13,2017-11-12,2017-11-12,2018-10-11,2017-11-12,2017-11-12,2015-01-04
4,2020-09-24,2017-11-13,2020-04-14,2017-11-13,2017-11-13,2018-10-12,2017-11-13,2017-11-13,2015-01-05
...,...,...,...,...,...,...,...,...,...
360,2021-09-15,2018-11-04,2021-04-05,2018-11-04,2018-11-04,2019-10-03,2018-11-04,2018-11-04,2015-12-27
361,2021-09-16,2018-11-05,2021-04-06,2018-11-05,2018-11-05,2019-10-04,2018-11-05,2018-11-05,2015-12-28
362,2021-09-17,2018-11-06,2021-04-07,2018-11-06,2018-11-06,2019-10-05,2018-11-06,2018-11-06,2015-12-29
363,2021-09-18,2018-11-07,2021-04-08,2018-11-07,2018-11-07,2019-10-06,2018-11-07,2018-11-07,2015-12-30
364,2021-09-19,2018-11-08,2021-04-09,2018-11-08,2018-11-08,2019-10-07,2018-11-08,2018-11-08,2015-12-31

In [49]:
daily_price_matrix

symbol,1INCH,AAVE,ADA,ALICE,AMP,AR,ATOM,AVAX,AXS,BAT,...,XDC,XEC,XEM,XLM,XMR,XRP,XTZ,XYM,YFI,ZEC
date,,,,,,,,,,,,,,,,,,,,,
2021-07-15,2.143274,271.510620,1.223192,6.956291,0.047044,9.386540,11.431246,11.349886,23.959175,0.506588,...,0.083540,0.000024,0.121931,0.240983,196.199387,0.596941,2.569963,0.106266,30006.167969,99.780357
2021-07-16,1.968316,254.047806,1.173715,5.772462,0.042530,8.763119,11.179139,10.860897,20.907234,0.549773,...,0.079291,0.000023,0.139502,0.236423,193.126266,0.590774,2.410809,0.114461,27678.373047,93.332977
2021-07-17,2.010964,252.802872,1.172302,5.622169,0.042962,8.625338,11.000161,10.927746,18.461134,0.534357,...,0.078548,0.000023,0.157745,0.233002,197.611679,0.582428,2.406522,0.117246,27644.027344,93.120583
2021-07-18,2.030771,254.697662,1.183698,5.607783,0.044896,9.031624,10.983058,10.704651,18.888828,0.522821,...,0.080757,0.000025,0.142908,0.230738,199.520157,0.587922,2.432222,0.113935,27996.617188,94.123878
2021-07-19,1.781355,237.772171,1.121116,4.782061,0.040996,8.162565,9.958948,10.169768,16.863346,0.494191,...,0.074905,0.000024,0.129859,0.211523,188.795609,0.557556,2.285919,0.102938,26798.972656,89.086311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-02-23,1.390194,131.323654,0.869169,7.158106,0.025966,25.950836,25.287458,73.698631,48.873562,0.657542,...,0.051707,0.000071,0.094714,0.182003,149.120621,0.698746,2.955642,0.146250,20391.667969,97.945953
2022-02-24,1.339379,125.305191,0.853425,6.884725,0.026260,27.645248,24.945091,76.523964,48.764317,0.659616,...,0.048247,0.000071,0.092916,0.182506,147.033020,0.696272,3.030954,0.138359,19375.408203,102.511787
2022-02-25,1.454889,139.757935,0.898027,7.413090,0.029336,29.104437,27.225927,80.832619,51.080265,0.702441,...,0.051573,0.000075,0.098634,0.190697,153.469131,0.768903,3.205754,0.145479,20155.703125,106.539406
2022-02-26,1.433609,136.432098,0.887918,7.118876,0.028448,27.496611,29.807392,81.879707,50.328568,0.701542,...,0.052982,0.000075,0.101173,0.192780,157.660950,0.750973,3.416615,0.144816,20874.699219,107.755585
2022-02-28,1.383683,132.211639,0.862775,6.778378,0.027305,29.497307,27.272659,74.112892,48.169853,0.673115,...,0.052816,0.000073,0.100798,0.180905,151.940643,0.726879,3.111782,0.142403,19499.925781,101.862877

In [ ]:
t_date = datetime(2022, 2, 28)
x_start_date = datetime(2021, 7, 14)
x_end_date = datetime(2021, 7, 15)
y_end_date = datetime(2022, 2, 28)
daily_xy_horizon_return_matrix = coinAnalytic.get_xy_daily_return_matrix(t_date, x_start_date, x_end_date, y_end_date)
daily_price_matrix = coinAnalytic.get_price_matrix(daily_xy_horizon_return_matrix, x_start_date, y_end_date)